html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.logo {
  height: 60px;
  width: 100px;
  float: left;
  border-radius: 50px;
}
.hiddendiv {
  width: 100%;
  position: fixed;
  top: 0px;
}
.menu {
  margin-top: 14px;
}
.container {
  width: 100%;
  max-width: fit-content;
  margin: 0 auto;
}
#navbar {
  /*this will fix the navbar at the left*/
  overflow: hidden;
  background-color: #333;
  position: fixed;
  /*avoid overlay the content*/
  top: 0;
  right: 0;
  left: 0;
  z-index: 2000;
  /*avoid overlay the content*/
  border-bottom: white solid;
}
#navbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 23px;
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}
#navbar a.active {
  background-color: #4caf50;
  color: white;
}
#navbar {
  background-color: black;
  width: 1000px;
  height: 60px;
  margin: 0 auto;
  padding: 4px;
}
#navbar ul li {
  float: left;
  font-size: 23px;
  list-style-type: none;
  margin-left: 28px;
}

#navbar ul li a {
  color: white;
  text-decoration: none;
}
body {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: lighter;
}
nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
}

nav ul {
  line-height: 60px;
  list-style: none;
  /* background: rgba(0, 0, 0, 0.8); */
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}
nav.black ul {
  background: #000;
}

nav ul li {
  display: inline;
  padding: 0px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
li {
  display: inline;
}

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 10%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3;
  color: black;
}
a:link {
  background: transparent;
}

a:hover {
  background: crimson;
}
@media (max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }
}
#wrapper {
  width: 100%;
  height: 100vh;
  background: url('../src/img/bgi.jpg') no-repeat 50% 50%;
  background-size: cover;
}
#sticky {
  position: absolute;
  top: 50%;
  width: 250px;
  left: 200px;
  color: white;
  background: crimson;
  text-align: center;
  border-radius: 20px;
}

.logo {
  float: left;
  margin: 16px 46px;
}
.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.button:hover {
  background: lightcoral;
}
.section-header {
  margin-bottom: 30px;
}

.section-header h2 {
  font-size: 32px;
  color: white;
  font-weight: 700;
  position: relative;
  margin-top: 0px;
  padding-bottom: 20px;
  text-align: center;
}

.section-header h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 46px;
  height: 3px;
  bottom: 0;
  left: 0;
  border-top: black dotted 10px;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

.section-header p {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 20px;
}

#about {
  position: relative;
  overflow: HIDDEN;
  background: crimson;
}

#about .about-img {
  overflow: hidden;
  margin-left: 10px;
}

.about-img img {
  margin-right: 10px;
  margin-bottom: 0px;
}
.about-img .img-aside {
  float: left;
}
.about-img ul li {
  font-family: 'Comic Sans MS', Monaco, monospace;
  font-size: 20px;
}
.about-content h2 {
  font-size: 25px;
  font-family: Times New Roman;
}
.about-content p {
  text-indent: 100pt;
  font-size: 17px;
  font-family: monospace;
}

#offers {
  background: #ce70bb;
}
section#offers h2,
#offers p {
  color: #0b111f;
}
#offers .card {
  width: 100% !important;
  margin-bottom: 30px;
  border-radius: 0px;
  border: none;
  transition: 0.4s;
}
#offers .card:hover {
  position: relative;
  top: -5px;
  transition: 0.4s;
}
#offers .box {
  padding: 40px;
  margin-bottom: 40px;
  background: #fff;
  transition: 0.4s;
  border: 1px solid #dedede;
}

#offers .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

#offers .box .icon {
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px;
}
.card-title {
  /* margin-bottom: .75rem; */
  text-align: center;
  color: #0b111f;
  font-weight: bold;
  margin-bottom: 0;
}
#offers .box .icon i {
  color: #444;
  font-size: 44px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 0px;
}

#offers .box .icon i:before {
  background: #0c2e8a;
  background: linear-gradient(45deg, #c802a0 0%, #e666f5 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#offers .box h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 24px;
  font-size: 22px;
  display: block;
  width: 100%;
  text-align: center;
  float: left;
  margin: 0;
}

#offers .box h4 a {
  color: #444;
}

#offers .box p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  display: block;
  margin: 0;
  padding-top: 15px;
  color: #0b111f;
}

@media (max-width: 767px) {
  #offers .box .box {
    margin-bottom: 20px;
  }
  #offers .box .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }
  #offers .box h4,
  #offers .box p {
    margin-left: 0;
    text-align: center;
  }
}
