html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.logo {
  height: 60px;
  width: 100px;
  float: left;
  border-radius: 50px;
}
.container {
  width: 100%;
  max-width: fit-content;
  margin: 0 auto;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: lighter;
}
#menu ul li{
    background-color: transparent;
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: left;
	color: white;
	font-size: 19px;
	position: relative;
	
}
#menu ul li:hover{
       background-color:hotpink;
	   border-radius: 20px;
}
#menu ul ul{
     display: none;
}
#menu ul li:hover > ul{
     display: block;
}
#menu a{
    text-decoration: none;
}
nav{
	position: fixed;
  width: 100%;
  line-height: 60px;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
    list-style: none;  
	
}
#menu{
	margin-left: 250px;
	margin-top: 0px;
}
@media (max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }
}
#wrapper {
  width: 100%;
  height: 100vh;
  background: url('../src/img/bgg.jpg') no-repeat 50% 50%;
  background-size: cover;
}
#sticky {
  position: absolute;
  top: 50%;
  width: 250px;
  left: 200px;
  color: white;
  background: hotpink;
  text-align: center;
  border-radius: 20px;
}

.logo {
  float: left;
  margin: 10px;
}
.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.button:hover {
  background: lightcoral;
}
.section-header {
  margin-bottom: 30px;
}

.section-header h2 {
  font-size: 32px;
  color: white;
  font-weight: 700;
  position: relative;
  margin-top: 0px;
  padding-bottom: 20px;
  text-align: center;
  
}

.section-header h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 46px;
  height: 3px;
  bottom: 0;
  left: 0;
  border-top: black dotted 10px;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

.section-header p {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 20px;
}

#about {
  position: relative;
  overflow: HIDDEN;
  background: hotpink;
}

#about .about-img {
  overflow: hidden;
  margin-left: 10px;
}

.about-img img {
  margin-right: 10px;
  margin-bottom: 0px;
}
.about-img .img-aside {
  float: left;
}
.about-img ul li {
  font-family: 'Comic Sans MS', Monaco, monospace;
  font-size: 20px;
}
.about-content h2 {
  font-size: 25px;
  font-family: Times New Roman;
}
.about-content p {
  text-indent: 100pt;
  font-size: 17px;
  font-family: monospace;
}

#offers {
	margin: 0;
	padding: 0;
    background: white;
}
#offer section-header h2,
#offer section-header p {
  color:black ;
  text-align: center;
}

.cont{
	width: 1280px;
	margin: 70px auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.cont .box {
	position:relative;
	width:300px;
	height:300px;
	background: #ff0;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
}

.cont .box .imgBox{
	position: relative;
	overflow: hidden;
}
.cont .box .imgBox img {
    max-width: 100%;	
	transition: transform 2s;
}
.cont .box:hover .imgBox img{
	transform: scale(1.2);
}
.cont .box .details {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: rgba(0,0,0,.8);
	transform: scaleY(0);
	transition: transform .5s;
	
}
.cont .box:hover .details{
	transform: scaleY(1);
}
.cont .box .details .conte{
	position: absolute;
	top: 10%;
	transform: traslateY(-50%);
	text-align: center;
	padding: 15px;
	color: white;
}
.cont .box .details .conte h2{
	margin: 0;
	padding: 0;
	font-size: 30px;
	color: #ff0;
}
.cont .box .details .conte p{
	margin: 10px 0 0;
	padding: 0;
}

#brands {
  background: hotpink;
}
 
 .owl{
	 padding: 7px;
 }
 
#contact{
	background-color: white;
}
#contact .contact-info {
  margin-bottom: 20px;
  margin-left: 600px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 24px;
  display: inline-block;
  margin-bottom: 0;
  color: #c802a0;
  float: left;
}

#contact .contact-info address, #contact .contact-info p {
  margin-bottom: 0;
  color: black;
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 15px;
  padding: 0;
  margin-top: 0;
  margin-left: 27px;
  font-size: 14px;
}

#contact .contact-info h3 {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #c802a0;
  float: left;
  margin: 8px 15px;
}

#contact .contact-info a {
  color: black;
}

#contact .contact-info a:hover {
  color: #c802a0;
}

#contact .contact-address, #contact .contact-phone, #contact .contact-email {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  #contact .contact-address, #contact .contact-phone, #contact .contact-email {
    padding: 0;
    text-align: left;
  }
}

@media (min-width: 768px) {
  #contact .contact-phone {
  }
}

#contact #google-map {
  height: 290px;
  margin-bottom: 20px;
}

#footer {
  background: hotpink;
  padding: 0 0 30px 0;
  font-size: 14px;
  color: #fff;
}
.to-top{
	background: hotpink;
	position: fixed;
	bottom: 16px;
	right: 32px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	color: white;
	text-decoration: none;
	opacity: 0;
	pointer-events: none;
	transition: all .4s;
}
.to-top.active{
	bottom: 32px;
	pointer-events: auto;
	opacity: 1;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: black;
}







